<div class="contact-page">
  <%= partial "partials/navbar", locals: { white: true } %>

  <div class="container">
    <div class="contact-page_content">
      <div class="contact-page_left">
        <h2 class="contact-page_h2">Fale conosco</h2>
        <div class="contact-page_info_list">
          <a href="mailto:<%= data.settings.infos.email %>?subject=Contato%20Site" class="footer_contact_item w-inline-block">
            <div class="footer_contact_item_title dark">E-mail</div>
            <div class="footer_contact_item_infos dark"><%= data.settings.infos.email %></div>
          </a>
          <a href="https://api.whatsapp.com/send?phone=55<%= data.settings.infos.whatsapp.parameterize.gsub('-', '') %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="footer_contact_item w-inline-block">
            <div class="footer_contact_item_title dark">Whatsapp</div>
            <div class="footer_contact_item_infos dark"><%= data.settings.infos.whatsapp %></div>
          </a>
          <a href="tel:0<%= data.settings.infos.phone.parameterize.gsub('-', '') %>" class="footer_contact_item w-inline-block">
            <div class="footer_contact_item_title dark">Telefone</div>
            <div class="footer_contact_item_infos dark"><%= data.settings.infos.phone %></div>
          </a>
          <a href="#" class="footer_contact_item w-inline-block">
            <div class="footer_contact_item_title dark">Endereço</div>
            <div class="footer_contact_item_infos dark"><%= markdown(data.settings.infos.address) %></div>
          </a>
        </div>
      </div>
      <div class="contact-page_form-block">
        <h2 class="contact-page_h2">Envie uma<br>mensagem</h2>
        <div class="form-block w-form">
          <form id="contato" name="contato" action="/obrigado" class="form-block_form" netlify>
            <div class="form-block_form_item"><label for="name" class="form-block_form_item_label">Nome completo</label><input type="text" class="form-block_form_item_input w-input" maxlength="256" name="name" data-name="Name" placeholder="Digite aqui seu nome" id="name" required=""></div>
            <div class="form-block_form_item"><label for="email" class="form-block_form_item_label">E-mail profissional</label><input type="email" class="form-block_form_item_input w-input" maxlength="256" name="email" data-name="Email" placeholder="Digite aqui o seu e-mail" id="email" required=""></div>
            <div class="form-block_form_item"><label for="whatsapp" class="form-block_form_item_label">whatsapp</label><input type="tel" class="form-block_form_item_input w-input" maxlength="256" name="whatsapp" data-name="whatsapp" placeholder="Digite aqui o seu número" id="whatsapp" required=""></div>
            <div class="form-block_form_item"><label for="message" class="form-block_form_item_label">mensagem</label><textarea placeholder="Digite aqui sua mensagem..." maxlength="5000" id="message" name="message" data-name="message" required="" class="form-block_form_item_input textarea w-input"></textarea></div>
            <div class="download-button_align contact"><button type="submit" class="button pink fill w-button">Enviar mensagem</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-page_bg-grey"></div>
</div>
<%= partial "partials/footer" %>