<% content_for(:wf_page, "5e388b43ad9b09809eeae504") %>

<% content_for(:page_title, "Empreendimentos") %>

  <div class="download-modal">
    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="download-modal_box">
      <div class="download-modal_box_header">
        <div data-w-id="455dcea4-d4d0-27a4-0e9c-4060522a1292" class="sustainability_section_gallery_item_modal_box_header_close"><img src="/assets/images/modal-close_grey.svg" width="15" alt=""></div>
      </div>
      <h2 class="download-modal_h2">baixe o material completo deste empreendimento</h2>
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="form-block_form">
          <div class="form-block_form_item"><label for="name-3" class="form-block_form_item_label">Nome completo</label><input type="text" class="form-block_form_item_input w-input" maxlength="256" name="name" data-name="name" placeholder="Digite aqui seu nome" id="name-3" required=""></div>
          <div class="form-block_form_item"><label for="email" class="form-block_form_item_label">E-mail profissional</label><input type="email" class="form-block_form_item_input w-input" maxlength="256" name="email" data-name="email" placeholder="Digite aqui o seu e-mail" id="email" required=""></div>
          <div class="form-block_row">
            <div class="form-block_form_item"><label for="creci" class="form-block_form_item_label">creci</label><input type="text" class="form-block_form_item_input w-input" maxlength="256" name="creci" data-name="creci" placeholder="Digite o seu CRECI" id="creci" required=""></div>
            <div class="form-block_form_item"><label for="phone" class="form-block_form_item_label">Telefone</label><input type="tel" class="form-block_form_item_input w-input" maxlength="256" name="phone" data-name="phone" placeholder="Digite o seu telefone" id="phone" required=""></div>
          </div>
          <div class="download-button_align"><a href="#" class="button pink w-button">Baixar</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>

  <%= partial "partials/navbar", locals: { white: true } %>

  <div id="housesSection" class="broker-page_houses-section">
    <div class="container">
      <div class="broker-page_houses-section_list">
        <% data.settings.navemp.items.each do |item| %>
          <% empreendimento = data.empreendimentos.find do |_filename, empreendimento| %>
            <% item.empreendimento.parameterize == empreendimento.title.parameterize %>
          <% end %>

          <% empreendimento = empreendimento[1] %>

          <div class="houses-section_content_block_item broker-page">
            <div class="lazyload houses-section_content_block_item_image list" data-bg="<%= empreendimento.image %>"></div>
            <h3 class="houses-section_content_block_item_h3"><%= empreendimento.title %></h3>
            <% condominio = @app.data.condominios.find { |_filename, condominio| empreendimento.condominio == condominio.title } %>
            <div class="houses-section_content_block_item_address"><%= condominio[1].title %></div>
            <div class="houses-section_content_block_item_city"><%= empreendimento.city %></div>
            <a data-w-id="6a0f4f2d-897d-206f-d18d-ac0e1b7e6f4b" href="/empreendimento/<%= empreendimento.title.parameterize %>" class="button w-button">Ver mais detalhes</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= partial "partials/footer" %>
