<% content_for(:wf_page, "5e2f88d4c8eec2fd2bad8920") %>

<%
  if data.pages.institucional.seo && data.pages.institucional.seo.title
    content_for(:page_title, data.pages.institucional.seo.title)
  end
%>
<%
  if data.pages.institucional.seo && data.pages.institucional.seo.description
    content_for(:meta_description, data.pages.institucional.seo.description)
  end
%>
  <div class="fixed-bar">
    <div class="house-page_contact-section_buttons-box fixed">
      <h2 class="house-page_contact-section_h2 fixed">Vamos <strong class="semi-bold">conversar?<br></strong><span><strong class="semi-bold p">Envie uma mensagem</strong></span></h2>
      <a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink whatsapp w-button">Enviar WhatsApp</a>
      <a href="/contato" class="button pink fill margin-left mobile w-button">Enviar e-mail</a></div>
  </div>  
  <div class="youtube-modal"><a data-w-id="4a27a4b3-9dbd-c70b-ced1-d5b152b897da" href="#" class="youtube-modal_close w-inline-block"><img src="/assets/images/close-icon.svg" width="24" alt=""></a>
    <div style="padding-top:56.17021276595745%" id="w-node-d5b152b897dc-52b897d9" class="youtube-modal_video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F<%= data.pages.institucional.youtube_video %>&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D<%= data.pages.institucional.youtube_video %>&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2F<%= data.pages.institucional.youtube_video %>%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
  </div>
  <%= partial "partials/navbar", locals: { white: true } %>

  <div class="broker-page_intro-section">
    <div class="container">
      <div class="broker-page_intro-section_content">
        <h1 class="about-page_intro-section_h1"><%= markdown data.pages.institucional.title %></h1>
        <div class="broker-page_intro-section_content_block">
          <div class="broker-page_intro-section_content_block_p projects-page">
            <%= markdown data.pages.institucional.text %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="broker-page_video-section">
    <div data-autoplay="true" data-loop="true" data-wf-ignore="true" data-poster-url="videos/bg-ck_1-poster-00001.jpg" data-video-urls="<%= data.pages.institucional.background_video %>" class="broker-page_video-section_video w-background-video w-background-video-atom">
      <video autoplay="" loop="" style="background-image:url(&quot;videos/bg-ck_1-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
        <source src="<%= data.pages.institucional.background_video %>" data-wf-ignore="true">
      </video>
      <a data-w-id="64d7214b-1d27-2f9f-0a0c-c1750947d8e3" href="#" class="broker-page_video-section_video_link w-inline-block">
        <img src="/assets/images/play.svg" width="85" alt="">
        <div class="broker-page_video-section_video_link_text">Ver o vídeo completo</div>
      </a>
    </div>
  </div>
  <div class="about-page_about-section" data-ix="scrollfadein">
    <div class="container">
      <div class="about-section_content" data-ix="scrollfadein">
        <div class="about-section_title">
          <%= markdown data.pages.institucional.project_text %>
        </div>
      </div>
    </div>
    <div class="about-section_graph">
      <img data-src="<%= data.pages.institucional.project_image %>" width="420" alt="" class="lazyload about-section_graph_img">
    </div>
  </div>
  <div class="about-page_history-section" data-ix="scrollfadein">
    <div class="container">
      <div class="about-page_history-section_content">
        <div class="about-page_history-section_content_left">
          <h2 class="about-page_history-section_content_left_h2"><%= markdown data.pages.institucional.history_title %></h2>
          <div class="about-page_history-section_content_left_p"><%= markdown data.pages.institucional.history_text %></div>
        </div>
        <div class="new-box">
          <div class="lazyload about-page_history-section_content_photo" data-bg="<%= data.pages.institucional.history_image %>"></div>
          <span class="light-subtitle"><%= data.pages.institucional.history_legend %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="about-page_dark-section">
    <div class="container">
      <div class="about-page_dark-section_content" data-ix="scrollfadein">
        <div class="about-page_dark-section_content_box">
          <div class="lazyload about-page_dark-section_content_box_image" data-bg="<%= data.pages.institucional.history_image2 %>"></div>
          <div class="about-page_dark-section_content_box_subtitle"><%= data.pages.institucional.history_legend2 %></div>
        </div>
        <div class="about-page_dark-section_p"><%= markdown data.pages.institucional.history_text2 %></div>
      </div>
    </div>
  </div>
  <div class="about-page_profile-section">
    <div class="container">
      <div class="about-page_profile-section_block" data-ix="scrollfadein">
        <div class="about-page_profile-section_block_p"><%= markdown data.pages.institucional.history_text3 %></div>
        <div class="about-box">
          <div class="lazyload about-page_profile-section_block_photo" data-bg="<%= data.pages.institucional.history_image3 %>"></div>
          <span class="light-subtitle"><%= data.pages.institucional.history_legend3 %></span>
        </div>
      </div>
      <div class="about-page_profile-section_block_p no-photo" data-ix="scrollfadein"><%= markdown data.pages.institucional.history_text4 %></div>
      <div class="about-page_profile-section_signature" data-ix="scrollfadein"><%= data.pages.institucional.conclusion %></div>
    </div>
  </div>
  
  <%= partial "partials/footer" %>
