<% content_for(:wf_page, "5e2f888f9cd39160f9540658") %>

<%
  if empreendimento.seo && empreendimento.seo.title
    content_for(:page_title, empreendimento.seo.title)
  end
%>
<%
  if empreendimento.seo && empreendimento.seo.description
    content_for(:meta_description, empreendimento.seo.description)
  end
%>

  <div class="youtube-modal"><a data-w-id="4a27a4b3-9dbd-c70b-ced1-d5b152b897da" href="#" class="youtube-modal_close w-inline-block"><img src="/assets/images/close-icon.svg" width="24" alt=""></a>
    <div style="padding-top:56.17021276595745%" id="w-node-d5b152b897dc-52b897d9" class="youtube-modal_video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F<%= empreendimento.youtube_video %>&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D<%= empreendimento.youtube_video %>&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2F<%= empreendimento.youtube_video %>%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="YouTube embed" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="true"></iframe></div>
  </div>
  <div class="fixed-bar">
    <div class="house-page_contact-section_buttons-box fixed">
      <h2 class="house-page_contact-section_h2 fixed">Vamos <strong class="semi-bold">conversar?<br></strong><span><strong class="semi-bold p">Envie uma mensagem</strong></span></h2>
      <a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink whatsapp w-button">Enviar WhatsApp</a>
      <a href="/contato" class="button pink fill margin-left mobile w-button">Enviar e-mail</a></div>
  </div>
  <div class="project-page_hero" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('<%= empreendimento.image %>');">
    <div class="house-page_hero_main">
      <%= partial "partials/navbar" %>

      <div class="container">
        <h1 class="house-page_hero_h1"><%= empreendimento.title %></h1>
        <div class="house-page_hero_subtitle"><%= empreendimento.subtitle %></div>
      </div>
    </div>

    <% if empreendimento.value %>
      <div class="house-page_hero_footer">
        <div class="container">
          <div class="house-page_hero_footer_content">
            <div class="house-page_hero_footer_content_txt">
              <div class="house-page_hero_footer_content_txt_status">Valor:</div>
              <div class="house-page_hero_footer_content_txt_status_type">R$ <%= empreendimento.value %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="house-page_about-section">
    <div class="container">
      <div class="house-page_about-section_p"><%= markdown(empreendimento.text) %></div>
      <div class="house-page_about-section_block">
        <div class="house-page_about-section_block_left">
          <% if empreendimento.details %>
            <% empreendimento.details.each do |detail| %>
              <div class="house-page_about-section_link">
                <img src="/assets/images/ck-simbolo.svg" width="20" alt="" class="house-page_about-section_link_icon">
                <div class="house-page_about-section_link_text"><%= detail.title %></div>
                <div class="house-page_about-section_link_line"></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="house-page_about-section_block_photo video">
          <div data-poster-url="/videos/bg-ck_1-poster-00001.jpg" data-video-urls="<%= empreendimento.background_video %>" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="house-page_about-section_block_video w-background-video w-background-video-atom">
            <video autoplay="" loop="" style="background-image:url('/videos/bg-ck_1-poster-00001.jpg')" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
              <source src="<%= empreendimento.background_video %>" data-wf-ignore="true">
            </video>
            <a data-w-id="f0fae00a-98cb-7df7-070b-c40283f7d484" href="#" class="broker-page_video-section_video_link w-inline-block">
              <img src="/assets/images/play.svg" width="85" alt="">
              <div class="broker-page_video-section_video_link_text">Ver o vídeo completo</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if empreendimento.image_sections %>
    <% empreendimento.image_sections.each do |image_section| %>
      <div class="house-page_gallery-section">
        <div class="container">
          <h2 class="house-page_gallery-section_title"><%= image_section.title %></h2>
        </div>
        <% image_section.images.each_slice(3) do |image_slice| %>
          <a data-fancybox="gallery" class="fancy-a" href="<%= image_slice[0].image %>">
            <div class="lazyload house-page_gallery-section_main-photo" data-bg="<%= image_slice[0].image %>"></div>
          </a>
          <% if image_slice[1] %>
            <div class="house-page_gallery-section_row">
              <a data-fancybox="gallery" class="fancy-a" href="<%= image_slice[1].image %>">
                <div class="lazyload house-page_gallery-section_row_photo" data-bg="<%= image_slice[1].image %>"></div>
              </a>
              <% if image_slice[2] %>
                <a data-fancybox="gallery" class="fancy-a" href="<%= image_slice[2].image %>">
                  <div class="lazyload house-page_gallery-section_row_photo _2" data-bg="<%= image_slice[2].image %>"></div>
                </a>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if empreendimento.plants %>
    <div class="house-page_map-section">
      <div class="container">
        <h2 class="house-page_map-section_h2">Plantas</h2>
        <% empreendimento.plants.each do |plant| %>
          <div class="house-page_map-section_item">
            <h3 class="house-page_map-section_item_title"><%= plant.title %></h3>
            <img data-src="<%= plant.image %>" alt="" class="lazyload house-page_map-section_item_image">
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if empreendimento.more_details %>
    <div class="house-page_list-section">
      <div class="container">
        <div class="house-page_list-section_list">
          <% empreendimento.more_details.each do |detail| %>
            <div class="house-page_list-section_list_item"><%= detail.title %></div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if condominio %>
    <div class="house-page_-condominium-section">
      <div class="house-page_-condominium-section_intro" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('<%= condominio.image %>')">
        <div class="container">
          <div class="house-page_-condominium-section_intro_content">
            <div class="house-page_-condominium-section_intro_content_left">
              <h2 class="house-page_-condominium-section_intro_content_left_title"><%= condominio.title %></h2>
              <div class="house-page_-condominium-section_intro_content_left_subtitle"><%= condominio.city %></div>
              <div class="house-page_-condominium-section_intro_content_p"><%= markdown(condominio.text) %></div>
            </div>
          </div>
        </div>
      </div>
      <% if condominio.sections %>
        <div class="house-page_-condominium-section_list-block">
          <div class="container">
            <% condominio.sections.each_with_index do |section, index| %>
              <div class="house-page_about-section_block_item<%= index.even? ? '' : ' invert' %>">
                <div class="house-page_about-section_block_left">
                  <h2 class="house-page_-condominium-section_list-block_h2"><%= section.title %></h2>

                  <% if section.datails %>
                    <% section.details.each_with_index do |detail, index| %>
                      <div class="house-page_about-section_link">
                        <img src="/assets/images/ck-simbolo.svg" width="20" alt="" class="house-page_about-section_link_icon">
                        <div class="house-page_about-section_link_text"><%= detail.text %></div>

                        <% if index == 0 %>
                          <div class="house-page_about-section_link_line"></div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="lazyload house-page_about-section_block_photo _1" data-bg="<%= section.image %>"></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if empreendimento.show_reasons %>
    <div class="house-page_reasons-section">
      <div class="container">
        <h2 class="house-page_reasons-section_h2"><%= markdown(data.settings.reasons.title) %></h2>
        <div class="house-page_reasons-section_list">
          <% data.settings.reasons.items.each_with_index do |item, index| %>
            <div class="house-page_reasons-section_list_item">
              <div class="house-page_reasons-section_list_item_header">
                <img data-src="<%= item.icon %>" alt="" class="lazyload house-page_reasons-section_list_item_header_icon">
              </div>
              <h3 class="house-page_reasons-section_list_item_h3">0<%= index + 1 %>. <strong><%= item.title %></strong></h3>
              <p class="house-page_reasons-section_list_item_p"><%= item.text %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if empreendimento.value || (condominio && condominio.value) %>
    <div class="house-page_price-section">
      <div class="container">
        <div class="house-page_price-section_list">
          <% if empreendimento.value %>
            <div class="house-page_price-section_list_item">
              <div class="house-page_price-section_title">Valor do empreendimento</div>
              <div class="house-page_price-section_value"><span class="price-tag">R$</span><%= empreendimento.value %></div>
            </div>
          <% end %>
          <% if condominio && condominio.value %>
            <div class="house-page_price-section_list_item">
              <div class="house-page_price-section_title">Valor do condomínio</div>
              <div class="house-page_price-section_value"><span class="price-tag">R$</span><%= condominio.value %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="house-page_contact-section">
    <div class="container">
      <h2 class="house-page_contact-section_h2">Vamos <strong class="semi-bold">conversar?</strong></h2>
      <div class="house-page_contact-section_subtitle">Fale diretamente com nossos consultores, a qualquer momento.</div>
      <div class="house-page_contact-section_buttons-box"><a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp_empreendimentos) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink w-button">Enviar mensagem pelo WhatsApp</a><a href="mailto:comercial@ckarquitetura.com?subject=Contato%20Site" class="button pink fill margin-left w-button">Entrar em contato pelo e-mail</a></div>
    </div>
  </div>

  <%= partial "partials/footer" %>
