<% content_for(:wf_page, "5e2f88c294e2db490d84dc7f") %>

<%
  if projeto.seo && projeto.seo.title
    content_for(:page_title, projeto.seo.title)
  end
%>
<%
  if projeto.seo && projeto.seo.description
    content_for(:meta_description, projeto.seo.description)
  end
%>
  <div class="fixed-bar">
    <div class="house-page_contact-section_buttons-box fixed">
      <h2 class="house-page_contact-section_h2 fixed">Vamos <strong class="semi-bold">conversar?<br></strong><span><strong class="semi-bold p">Envie uma mensagem</strong></span></h2>
      <a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink whatsapp w-button">Enviar WhatsApp</a>
      <a href="/contato" class="button pink fill margin-left mobile w-button">Enviar e-mail</a></div>
  </div>  
  <div class="project-page_hero" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('<%= projeto.image %>');">
    <div class="house-page_hero_main">
      <%= partial "partials/navbar" %>

      <div class="container">
        <div class="project-page_hero_content">
          <div class="project-page_hero_content_text">
            <div class="project-page_hero_content_text_subtitle"><%= projeto.pretitle %></div>
            <h1 class="project-page_hero_content_text_title"><%= projeto.title %></h1>
          </div><a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp_projetos) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink fill w-button">Enviar mensagem pelo WhatsApp</a></div>
      </div>
    </div>
  </div>
  <div class="project-page_details-section">
    <div class="container">
      <h2 class="project-page_details-section_h2"><%= markdown projeto.description_title %></h2>
      <div class="project-page_details-section_subtitle"><%= projeto.description %></div>
      <div class="project-page_details-section_list">
        <% projeto.people.each do |person| %>
          <div class="project-page_details-section_list_item">
            <div class="project-page_details-section_list_item_subtitle"><%= person.title %></div>
            <div class="project-page_details-section_list_item_title"><%= person.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if projeto.image_sections %>
    <% projeto.image_sections.each do |image_section| %>
      <div class="house-page_gallery-section">
        <div class="container">
          <h2 class="house-page_gallery-section_title"><%= image_section.title %></h2>
        </div>
        <% image_section.images.each_slice(3) do |image_slice| %>
          <a data-fancybox="gallery" class="fancy-a" href="<%= image_slice[0].image %>">
            <div class="lazyload house-page_gallery-section_main-photo" data-bg="<%= image_slice[0].image %>"></div>
          </a>
          <% if image_slice[1] %>
            <div class="house-page_gallery-section_row">
              <a data-fancybox="gallery" class="fancy-a" href="<%= image_slice[1].image %>">
                <div class="lazyload house-page_gallery-section_row_photo" data-bg="<%= image_slice[1].image %>"></div>
              </a>
              <% if image_slice[2] %>
                <a data-fancybox="gallery" class="fancy-a" href="<%= image_slice[2].image %>">
                  <div class="lazyload house-page_gallery-section_row_photo _2" data-bg="<%= image_slice[2].image %>"></div>
                </a>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="house-page_contact-section project-page">
    <div class="container">
      <h2 class="house-page_contact-section_h2">Vamos <strong class="semi-bold">conversar?</strong></h2>
      <div class="house-page_contact-section_subtitle">Fale diretamente com nossos consultores, a qualquer momento.</div>
      <div class="house-page_contact-section_buttons-box"><a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp_projetos) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink w-button">Enviar mensagem pelo WhatsApp</a><a href="mailto:comercial@ckarquitetura.com?subject=Contato%20Site" class="button pink fill margin-left w-button">Entrar em contato pelo e-mail</a></div>
    </div>
  </div>

  <%= partial "partials/footer" %>
