<% content_for(:wf_page, "5e2f88b29cd39125245408dc") %>

<%
  if data.pages["pagina-projetos"].seo && data.pages["pagina-projetos"].seo.title
    content_for(:page_title, data.pages["pagina-projetos"].seo.title)
  end
%>
<%
  if data.pages["pagina-projetos"].seo && data.pages["pagina-projetos"].seo.description
    content_for(:meta_description, data.pages["pagina-projetos"].seo.description)
  end
%>

  <%= partial "partials/navbar", locals: { white: true } %>

<div class="fixed-bar">
    <div class="house-page_contact-section_buttons-box fixed">
      <h2 class="house-page_contact-section_h2 fixed">Vamos <strong class="semi-bold">conversar?<br></strong><span><strong class="semi-bold p">Envie uma mensagem</strong></span></h2>
      <a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink whatsapp w-button">Enviar WhatsApp</a>
      <a href="/contato" class="button pink fill margin-left mobile w-button">Enviar e-mail</a></div>
 </div>  
<div class="about-page_intro-section">
    <div class="container">
      <div class="broker-page_intro-section_content">
        <div>
          <h1 class="about-page_intro-section_h1"><strong><%= markdown data.pages["pagina-projetos"].title %></strong></h1>
          <div class="about-page_intro-section_subtitle"><%= data.pages["pagina-projetos"].subtitle %></div>
        </div>
        <div class="broker-page_intro-section_content_block">
          <p class="broker-page_intro-section_content_block_p projects-page"><%= data.pages["pagina-projetos"].text %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-page_list">
    <% data.settings.ordem_projetos.items.each do |ordem_projetos| %>
      <% findProjeto = @app.data.projetos.find { |_filename, projeto| ordem_projetos.projeto == projeto.title } %>
      <% projeto = findProjeto[1] %>
      <a href="/projeto/<%= projeto.title.parameterize %>" class="lazyload projects-page_list_item w-inline-block" data-bg="<%= projeto.image %>">
        <div class="projects-page_list_item_txt">
          <div class="projects-page_list_item_txt_name"><%= projeto.title %></div>
          <div class="projects-page_list_item_txt_divisor"></div>
          <div class="projects-page_list_item_txt_city"><%= projeto.city %></div>
        </div>
      </a>
    <% end %>
  </div>
  <div class="projects-page_testimonial-section">
    <div class="container">
      <h2 class="projects-page_testimonial-section_h2"><%= data.pages["pagina-projetos"].title_testimonials %></h2>
      <div data-animation="slide" data-duration="500" data-infinite="1" class="projects-page_testimonial-section_slider w-slider">
        <div class="projects-page_testimonial-section_slider_mask w-slider-mask">
          <% data.pages["pagina-projetos"].items.each_slice(2) do |item_slice| %>
            <div class="projects-page_testimonial-section_slider_item w-slide">
              <div class="projects-page_testimonial-section_content">
                <div class="projects-page_testimonial-section_content_item">
                  <p class="projects-page_testimonial-section_content_item_p"><%= item_slice[0].text %></p>
                  <div class="projects-page_testimonial-section_content_item_line"></div>
                  <div class="projects-page_testimonial-section_content_item_details">
                    <div class="lazyload projects-page_testimonial-section_content_item_details_photo" data-bg="<%= item_slice[0].image %>"></div>
                    <div class="projects-page_testimonial-section_content_item_details_name"><%= item_slice[0].title %></div>
                  </div>
                </div>
                <% if item_slice[1] %>
                  <div class="projects-page_testimonial-section_content_item">
                    <p class="projects-page_testimonial-section_content_item_p"><%= item_slice[1].text %></p>
                    <div class="projects-page_testimonial-section_content_item_line"></div>
                    <div class="projects-page_testimonial-section_content_item_details">
                      <div class="lazyload projects-page_testimonial-section_content_item_details_photo" data-bg="<%= item_slice[1].image %>"></div>
                      <div class="projects-page_testimonial-section_content_item_details_name"><%= item_slice[1].title %></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="projects-page_testimonial-section_slider_arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="projects-page_testimonial-section_slider_arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="projects-page_testimonial-section_slider_nav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </div>
  <div class="house-page_contact-section">
    <div class="container">
      <h2 class="house-page_contact-section_h2">Vamos <strong class="semi-bold">conversar?</strong></h2>
      <div class="house-page_contact-section_subtitle">Fale diretamente com nossos consultores, a qualquer momento.</div>
      <div class="house-page_contact-section_buttons-box"><a href="https://api.whatsapp.com/send?phone=<%= whatsappize(data.settings.infos.whatsapp_projetos) %>&amp;text=Ol%C3%A1,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="button pink w-button">Enviar mensagem pelo WhatsApp</a><a href="mailto:comercial@ckarquitetura.com?subject=Contato%20Site" class="button pink fill margin-left w-button">Entrar em contato pelo e-mail</a></div>
    </div>
  </div>

  <%= partial "partials/footer" %>
