<div class="navbar_menu-mobile">
  <div class="navbar_menu-mobile_header">
    <img src="/assets/images/ck-simbolo.svg" width="47" alt="" class="navbar_menu-mobile_header_logo">
    <a data-w-id="73aa123e-e610-9fb3-01b0-f727e5779a58" href="#" class="navbar_menu-mobile_header_close w-inline-block">
      <img src="/assets/images/close-icon.svg" width="24" alt="">
    </a>
  </div>
  <div class="navbar_menu-mobile_links">
    <div class="navbar_menu-mobile_links_dropdown">
      <div data-w-id="73aa123e-e610-9fb3-01b0-f727e5779a5c" class="navbar_menu-mobile_links_dropdown_trigger">
        <a href="#" class="navbar_menu-mobile_links_item trigger-dropdown">Empreendimentos</a>
        <img src="/assets/images/dropdown-arrow.svg" width="18" alt="" class="navbar_menu-mobile_links_dropdown_trigger_icon">
      </div>
      <div class="navbar_menu-mobile_links_dropdown_menu">
        <% data.settings.navemp.items.each do |item| %>
          <% empreendimento = data.empreendimentos.find do |_filename, empreendimento| %>
            <% item.empreendimento.parameterize == empreendimento.title.parameterize %>
          <% end %>

          <a href="/empreendimento/<%= empreendimento[1].title.parameterize %>" target="_blank" class="navbar_menu-mobile_links_item dropdown"><%= empreendimento[1].title %></a>
        <% end %>
      </div>
    </div>
    <% data.settings.navheader.items.each do |item| %>
      <a href="<%= item.path %>" target="<%= '_blank' if item.tab %>" class="navbar_menu-mobile_links_item"><%= item.label %></a>
    <% end %>
  </div>
</div>
