<div id="navbar" data-collapse="medium" data-animation="default" data-duration="400" class="<%= defined?(white) ? 'navbar-white' : 'navbar' %> w-nav">
  <div class="navbar_content">
    <a href="/" class="navbar_content_brand w-nav-brand">
      <img src="<%= defined?(white) ? '/images/logo-ck-arquitetura_dark.svg' : '/images/logo-ck-arquitetura.svg' %>" width="175" alt="">
    </a>
    <nav role="navigation" class="navbar_menu w-nav-menu">
      <div data-hover="1" data-delay="0" class="w-dropdown">
        <div class="navbar_menu_link <%= defined?(white) ? 'dark ' : '' %>dropdown w-dropdown-toggle">
          <div>Empreendimentos</div>
          <img src="<%= defined?(white) ? '/images/dropdown-arrow-grey.svg' : '/images/dropdown-arrow.svg' %>" width="10" alt="" class="navbar_menu_link_dropdown_icon">
        </div>
        <nav class="navbar_menu_link_dropdown_list w-dropdown-list">
          <div class="navbar_menu_link_dropdown_list_left">
            <div class="navbar_menu_link_dropdown_list_left_title">Empreendimentos</div>
            <div class="navbar_menu_link_dropdown_list_menu">
              <% data.empreendimentos.each do |_filename, empreendimento| %>
                <a href="/empreendimento/<%= empreendimento.title.parameterize %>" class="navbar_menu_link_dropdown_list_menu_item w-dropdown-link w--current"><%= empreendimento.title %></a>
              <% end %>
            </div>
          </div>
          <div class="navbar_menu_link_dropdown_photo"></div>
        </nav>
      </div>
      <% data.settings.navheader.items.each do |item| %>
        <a href="<%= item.path %>" target="<%= '_blank' if item.tab %>" class="navbar_menu_link <%= defined?(white) ? 'dark ' : '' %>w-nav-link"><%= item.label %></a>
      <% end %>
    </nav>
    <a data-w-id="dfb2ea1d-9c1a-9dcf-5e2c-87a2a5b47e06" href="#" class="navbar_menu_btn w-inline-block">
      <img src="<%= defined?(white) ? '/images/hamburger-icon_grey.svg' : '/images/hamburger-icon.svg' %>" width="38" alt="">
    </a>
  </div>
</div>
